.navigation{
  width: 100%;
}
.mat-toolbar,
.mat-primary{
  background: linear-gradient(10deg, #205cc2, #35addd);
  //background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  //background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);

}
